{% extends 'base.html' %}
{% block content %}
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">{{ web.title }}</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/new">New</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container theme-showcase" role="main">
    <div class="page-header">
        <h1>Stashed repositories</h1>
    </div>
    {% if error %}
    <div class="alert alert-danger" role="alert">
    {{ error }}
    </div>
    {% endif %}
    <div class="row">
        <div class="xcol-md-6">
            <table class="table" id="stash">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Description</th>
                    <th>Created</th>
                    <th>Score</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td colspan="5" class="text-center">Loading..</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
{% block custom_scripts %}
<script type="text/javascript">
    $(document).ready(function(){
        show_repositories();
    });
</script>
{% endblock %}